
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1ea7ff;
}


.contact-section {
    padding: 60px 0;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}


.contact-box {
    background: white;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    text-align: left;
}


.contact-box h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 20px;
}


.contact-box p {
    font-size: 16px;
    color: #444;
    line-height: 1.7;
    margin-bottom: 15px;
}

#contact_us{
    color:#222;
    font-family: 'azonix','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}


.contact-form button {
    width: 100%;
    background: #1ea7ff;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #0b8bdd;
}


.contact-box ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact-box ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    line-height: 1.6;
}


.highlight {
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 600px) {
    h1 {
        font-size: 34px;
    }

    .contact-box {
        padding: 20px;
    }

    .contact-box h2 {
        font-size: 22px;
    }

    .contact-form button {
        font-size: 16px;
    }
}
